@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-montserrat: var(--font-montserrat);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --breakpoint-mobile: 360px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

@utility container {
  margin: 0 auto;
  padding-inline: 15px;

  @variant tablet {
    padding-inline: 40px;
    width: 768px;
  }

  @variant desktop {
    width: 1280px;
    padding-inline: 80px;
  }
}
